body, h1, h2, p, ul, li, form, input ,span{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(45, 226, 226);
  color:orange;
}

header {
  background: #333;
  color:#ffffff;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 50px;
}

header p {
  margin: 10px 0;
}

header .btn {
  background: #ff9900;
  color:white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: large;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

section {
  padding: 40px 0;
  background: #fff;
  margin-bottom: 20px;
 
}

section h2 {
  font-size: large;
  margin-bottom: 20px;
  color: #333;
}

section p {
  font-size: 1.1rem;
  color: #666;
}

#schedule ul {
  list-style: none;
}

#schedule li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type="text"], form input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
}

form input[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ff9900;
  color: #fff;
  font-size: 30px;
  
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}